

.menu-toggle{
	flex:0 0 auto;
	width: 6rem;
	height:6rem;
  background-color: orange;
  border-radius: 50%;
	// border:1px solid rgb(15,15,15);
	cursor:pointer;
	position:relative;
  transition: 1s;

  &:hover{
    border: 1rem solid orange;
    background-color: aliceblue;
    
    
  }


  &:hover .hamburger span:before{
    transform:translateX(0);
  }
  &:hover .hamburger span:after{
    transform:translateX(200%);
  }
  &.active .hamburger span:before{
    transform:translateX(100%);
  }
  &.active .hamburger span:after{
    transform:translateX(200%);
  }
  // &.active .cross span:before{
  //   transform:translateX(100%);
  // }
  // &.active .cross span:after{
  //   transform:translateX(200%);
  // }

  @media (max-width:768px) {
      height: 8rem;
      width: 8rem;
  }


}
.hamburger,.cross{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}
.hamburger{
    span{
	display:block;
	width:18px;
	height:2px;
	margin-bottom:3px;
	overflow:hidden;
	position:relative;

  &:last-child{
	margin:0;
  }
   
  &:before, &:after{
    content:"";
	  position:absolute;
	  width:100%;
	  height:100%;
	  background-color:rgb(15,15,15);
	  transform:translateX(-200%);
  	transition:transform ease 300ms;
  }

  &:after{
    transform:translateX(0);
  }
  &:nth-child(2):before, &:nth-child(2):after{
	transition-delay:75ms;
  }


  &:last-child:before, &:last-child:after{
	transition-delay:150ms;
}

}
}


.cross span{
	display:block;
	width:18px;
	height:2px;
	background-color:rgb(15,15,15);
	transform:translateY(50%) rotate(45deg) scaleX(0);
	transition:transform ease 200ms;
 
  &:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(0);
 }

//  &:after{
//   transform:translateX(0);
// }
// &:nth-child(2):before, &:nth-child(2):after{
// transition-delay:75ms;
// }


// &:last-child:before, &:last-child:after{
// transition-delay:150ms;
// }
  
}

.menu-toggle.active .cross span{
	transition-delay:450ms;
	transform:translateY(50%) rotate(45deg) scaleX(1);

  &:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(1);
}
}

